@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

html {
  overflow: hidden;
  user-select: none;
}
body {
  width: 100%;
  height: 100vh;

  background-color: #242132;

  color: white;
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
ul {
  padding-inline-start: 0;
}
li {
  list-style: none;
}
h1,
h2 {
  margin: 0;
}



.invisible {
  display: none !important;
}




.sudoku-wrapper.started .mock-table{
  display: none;
}
.sudoku {
  border: 2px solid #7b72aa;
}
.mock-table {
  position: absolute;
  width: 485px;
  height: 485px;
  margin-top: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  

  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #7b72aa;
}
.mock-table p {
  width: 90%;

  font-size: 17px;
}
.table {
  display: flex;
}
.box-container-wrapper {
  border: 0.5px solid #3a374c;
}
.box-container {
  display: flex;
}






.box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  color: black;
  font-size: 26px;
  font-weight: 300;
  

  background-color: white;
  border: 1.5px solid #7d7d80;

  transition: .1s ease-in-out;
}
.box.wrong {
  background-color: #ff004c;
  color: white;
}
.box.open {
  background-color: #e2ebf3;
}
.box.selected {
  border-color: #0040ff;

  transform: scale(1.1);
  z-index: 11;
}
.sudoku-wrapper.started .box {
  cursor: pointer;
}
.sudoku-wrapper.started .box:not(.selected):hover {
  border-color: #4169e1;

  transform: scale(1.05);
  z-index: 10;
}
.sudoku-wrapper.started .box.open:hover {
  border-color: #7d7d80;

  transform: none;
  cursor: default;
}




.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.difficulties {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.difficulties.mobile {
  display: none;
}
.difficulty-button {
  padding: 5px 20px;
  margin-bottom: 10px;

  color: white;
  font-size: 15px;

  background: none;
  border: 1px solid #614dff;
}
.difficulties-mobile-view__list {
  width: 70%;

  border-radius: 10px;
  background-color: white;
}
.difficulties-mobile-view__list__item {
  width: 100%;
  padding: 20px 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background: none;

  color: black;
  font-size: 16px;

  text-align: center;
}
.difficulties-mobile-view-veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.4);
  z-index: 15;
}


.difficulty span:not(.difficulty__content) {
  font-size: 16px;
  color: #aaa;
}
.difficulty {
  position: relative;
  padding: 10px 20px;
  margin: 15px;

  display: inline-block;

  background: none;
  border: 2px solid #3a374c;

  color: #766ad0;
  font-size: 16px;
  line-height: 25px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;

  transition: 0.1s linear;
}
.difficulty.selected {
  color: #614dff;
  border: 2px solid #614dff;
}
.difficulty__content {
  color: #766ad0;
}
.difficulty:before,
.difficulty:after,
.difficulty__content:before,
.difficulty__content:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 15px;
  height: 15px;
  transition: 0.1s linear;
}
.difficulty:before {
  left: -1px;
  top: -1px;
  border-left: 1px solid #614dff;
  border-top: 1px solid #614dff;
}
.difficulty:after {
  bottom: -1px;
  right: -1px;
  border-bottom: 1px solid #614dff;
  border-right: 1px solid #614dff;
}
.difficulty__content:after {
  right: -1px;
  top: -1px;
  border-right: 1px solid #614dff;
  border-top: 1px solid #614dff;
}
.difficulty__content:before {
  left: -1px;
  bottom: -1px;
  border-bottom: 1px solid #614dff;
  border-left: 1px solid #614dff;
}
.difficulty:hover {
  color: #614dff;
  border-color: #614dff;
}



.help-radio {
  display: flex;
  align-items: center;
  justify-content: center;
}
.help-radio p {
  margin: 10px 0;

  font-size: 18px;
}
.switcher {
  margin: 0 10px;

  background-color: white;
  border: 1px solid #999;
  border-radius: 15px;

  cursor: pointer;

  transition: .2s ease-in-out;
}
.switcher .ball {
  width: 20px;
  height: 20px;
  margin: 2px 23px 2px -2px;

  background-color: rgba(0, 0, 0, 0.411);
  border-radius: 20px;

  transition: .2s ease-in-out;
}
.switcher.active {
  border: 1px solid #614dff;
}
.switcher.active .ball {
  margin: 2px -2px 2px 23px;
  background-color: #614dff;
}






@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}

.start-button {
  position: relative;
  padding: 15px 20px;
  margin: 20px;

  background: none;
  border: 1px solid #ec1840;

  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;

  cursor: pointer;
}
.start-button:hover {
  background: url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  background-size: 180px;
  animation: animate .8s steps(8) forwards;
}

.start-button.started {
  border: 1px solid #3f48cc;
}
.start-button.started:hover {
  background: url(https://i.postimg.cc/wvc48SLG/pixelmat.png);
  background-size: 180px;
  animation: animate .8s steps(8) forwards;
}






@media (max-width: 768px) {
  .mock-table {
    width: 305px;
    height: 305px;
  }
  .mock-table p {
    width: 90%;
    font-size: 16px;
  }
  .mock-table h1 {
    font-size: 20px;
  }

  .box {
    width: 30px;
    height: 30px;
  }


  .difficulty {
    padding: 5px 15px;
    margin: 10px;

    font-size: 14px;
  }
  .difficulties.mobile {
    margin: 10px 0;

    display: block;
  }
  .difficulties.desktop {
    display: none;
  }


  .help-radio p {
    margin: 10px 5px;

    font-size: 14px;
  }
  .switcher .ball {
    width: 15px;
    height: 15px;
  }


  .start-button {
    padding: 10px 25px;

    font-size: 14px;
  }
}
