@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import "styles/main.css";
@import "styles/common.css";
@import "styles/table.css";
@import "styles/boxes.css";
@import "styles/difficulty.desktop.css";
@import "styles/difficulty.mobile.css";
@import "styles/controls.css";
@import "styles/mobile-input.css";


@media (max-width: 768px) {
  .invisible {
    height: 0px;
  }



  .mock-table {
    width: 370px;
    height: 370px;
  }
  .mock-table p {
    width: 90%;
    font-size: 16px;
  }
  .mock-table h1 {
    font-size: 20px;
  }



  .box {
    width: 37.5px;
    height: 37.5px;

    font-size: 22px;
  }




  .difficulty {
    padding: 5px 15px;
    margin: 10px;

    font-size: 14px;
  }
  .difficulties.mobile {
    margin: 10px 0;

    display: block;
  }
  .difficulties.desktop {
    display: none;
  }




  .help-radio p {
    margin: 10px 5px;

    font-size: 14px;
  }
  .switcher .ball {
    width: 15px;
    height: 15px;
  }



  .start-button {
    padding: 10px 25px;

    font-size: 14px;
  }


  
  .mobile-input {
    display: block;
  }
}
