.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.difficulties {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  transition: .2s ease-in-out;
}




.difficulty span:not(.difficulty__content) {
  font-size: 16px;
  color: #aaa;
}
.difficulty {
  position: relative;
  padding: 10px 20px;
  margin: 15px;

  display: inline-block;

  background: none;
  border: 2px solid #3a374c;

  color: #766ad0;
  font-size: 16px;
  line-height: 25px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;

  transition: 0.1s linear;
}
.difficulty.selected {
  color: #614dff;
  border: 2px solid #614dff;
}
.difficulty__content {
  color: #766ad0;
}
.difficulty:before,
.difficulty:after,
.difficulty__content:before,
.difficulty__content:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 15px;
  height: 15px;
  transition: 0.1s linear;
}
.difficulty:before {
  left: -1px;
  top: -1px;
  border-left: 1px solid #614dff;
  border-top: 1px solid #614dff;
}
.difficulty:after {
  bottom: -1px;
  right: -1px;
  border-bottom: 1px solid #614dff;
  border-right: 1px solid #614dff;
}
.difficulty__content:after {
  right: -1px;
  top: -1px;
  border-right: 1px solid #614dff;
  border-top: 1px solid #614dff;
}
.difficulty__content:before {
  left: -1px;
  bottom: -1px;
  border-bottom: 1px solid #614dff;
  border-left: 1px solid #614dff;
}
.difficulty:hover {
  color: #614dff;
  border-color: #614dff;
}