.difficulties.mobile {
  display: none;
}

.difficulty-button {
  padding: 15px 25px;
  margin-bottom: 10px;

  color: white;
  font-size: 16px;

  background: none;
  border: 1px solid #614dff;

  transition: .2s ease-in-out;
}


.difficulties-mobile-view__list {
  width: 70%;

  border-radius: 10px;
  background-color: white;
}
.difficulties-mobile-view__list__item {
  width: 100%;
  padding: 20px 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background: none;

  color: black;
  font-size: 16px;

  text-align: center;
}
.difficulties-mobile-view__list__item.selected {
  background-color: royalblue;
  color: white;
}
.difficulties-mobile-view-veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.4);
  z-index: 15;
}